[package]
name = "rx_bevy"
version = "0.1.0"
description = "Reactive Extensions for the Bevy game engine"
readme = "readme.md"
publish = false

edition.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
authors.workspace = true
license-file.workspace = true

[lints]
workspace = true

[features]
default = [
    "dev",
    "pipe",
    "compose",
    "all_observables",
    "all_observers",
    "all_operators",
    "all_subjects",
]
dev = []
example = ["dev"]
pipe = [
    "dep:rx_bevy_pipe",
    "rx_bevy_operator_composite/pipe",
    "rx_bevy_operator_enumerate/pipe",
    "rx_bevy_operator_filter/pipe",
    "rx_bevy_operator_filter_map/pipe",
    "rx_bevy_operator_finalize/pipe",
    "rx_bevy_operator_map_into/pipe",
    "rx_bevy_operator_lift_option/pipe",
    "rx_bevy_operator_lift_result/pipe",
    "rx_bevy_operator_map/pipe",
    "rx_bevy_operator_skip/pipe",
    "rx_bevy_operator_switch_map/pipe",
    "rx_bevy_operator_take/pipe",
    "rx_bevy_operator_tap/pipe",
    "rx_bevy_operator_try_capture/pipe",
]
compose = [
    "dep:rx_bevy_operator_composite",
    "rx_bevy_operator_enumerate/compose",
    "rx_bevy_operator_filter/compose",
    "rx_bevy_operator_filter_map/compose",
    "rx_bevy_operator_finalize/compose",
    "rx_bevy_operator_map_into/compose",
    "rx_bevy_operator_lift_option/compose",
    "rx_bevy_operator_lift_result/compose",
    "rx_bevy_operator_map/compose",
    "rx_bevy_operator_skip/compose",
    "rx_bevy_operator_switch_map/compose",
    "rx_bevy_operator_take/compose",
    "rx_bevy_operator_tap/compose",
    "rx_bevy_operator_try_capture/compose",
]
# Observables and Subjects. Not sure if a good idea, so I'm keeping it behind a feature
inline_subscribe = [
    "rx_bevy_observable/inline_subscribe",
    "rx_bevy_observable_connectable/inline_subscribe",
    "rx_bevy_observable_deferred/inline_subscribe",
    "rx_bevy_observable_iterator/inline_subscribe",
    "rx_bevy_observable_of/inline_subscribe",
    "rx_bevy_observable_throw/inline_subscribe",
    "rx_bevy_subject/inline_subscribe",
    "rx_bevy_subject_behavior/inline_subscribe",
    "rx_bevy_subject_replay/inline_subscribe",
]
# Observables
all_observables = [
    "observable_connectable",
    "observable_deferred",
    "observable_iterator",
    "observable_of",
    "observable_throw",
]
observable_connectable = ["dep:rx_bevy_observable_connectable"]
observable_deferred = ["dep:rx_bevy_observable_deferred"]
observable_iterator = ["dep:rx_bevy_observable_iterator"]
observable_of = ["dep:rx_bevy_observable_of"]
observable_throw = ["dep:rx_bevy_observable_throw"]
# Observers
all_observers = ["observer_noop", "observer_print", "observer_fn"]
observer_fn = ["dep:rx_bevy_observer_fn"]
observer_noop = ["dep:rx_bevy_observer_noop"]
observer_print = ["dep:rx_bevy_observer_print"]
# Operators
all_operators = [
    "operator_composite",
    "operator_enumerate",
    "operator_filter",
    "operator_filter_map",
    "operator_finalize",
    "operator_map_into",
    "operator_lift_option",
    "operator_lift_result",
    "operator_map",
    "operator_skip",
    "operator_switch_map",
    "operator_take",
    "operator_tap",
    "operator_try_capture",
]
operator_composite = ["dep:rx_bevy_operator_composite"]
operator_enumerate = ["dep:rx_bevy_operator_enumerate"]
operator_filter = ["dep:rx_bevy_operator_filter"]
operator_filter_map = ["dep:rx_bevy_operator_filter_map"]
operator_finalize = ["dep:rx_bevy_operator_finalize"]
operator_map_into = ["dep:rx_bevy_operator_map_into"]
operator_lift_option = ["dep:rx_bevy_operator_lift_option"]
operator_lift_result = ["dep:rx_bevy_operator_lift_option"]
operator_map = ["dep:rx_bevy_operator_map"]
operator_skip = ["dep:rx_bevy_operator_map"]
operator_switch_map = ["dep:rx_bevy_operator_switch_map"]
operator_take = ["dep:rx_bevy_operator_take"]
operator_tap = ["dep:rx_bevy_operator_tap"]
operator_try_capture = ["dep:rx_bevy_operator_try_capture"]
# Subjects
all_subjects = ["subject", "subject_behavior", "subject_replay"]
subject = ["dep:rx_bevy_subject"]
subject_behavior = ["dep:rx_bevy_subject_behavior"]
subject_replay = ["dep:rx_bevy_subject_replay"]

[dependencies]
rx_bevy_observable = { workspace = true }
# Observables
rx_bevy_observable_connectable = { workspace = true, optional = true }
rx_bevy_observable_deferred = { workspace = true, optional = true }
rx_bevy_observable_iterator = { workspace = true, optional = true }
rx_bevy_observable_of = { workspace = true, optional = true }
rx_bevy_observable_throw = { workspace = true, optional = true }
# Pipe
rx_bevy_pipe = { workspace = true, optional = true }
# Observers
rx_bevy_observer_fn = { workspace = true, optional = true }
rx_bevy_observer_noop = { workspace = true, optional = true }
rx_bevy_observer_print = { workspace = true, optional = true }
# Operators
rx_bevy_operator_composite = { workspace = true, optional = true }
rx_bevy_operator_enumerate = { workspace = true, optional = true }
rx_bevy_operator_filter = { workspace = true, optional = true }
rx_bevy_operator_filter_map = { workspace = true, optional = true }
rx_bevy_operator_finalize = { workspace = true, optional = true }
rx_bevy_operator_map_into = { workspace = true, optional = true }
rx_bevy_operator_lift_option = { workspace = true, optional = true }
rx_bevy_operator_lift_result = { workspace = true, optional = true }
rx_bevy_operator_map = { workspace = true, optional = true }
rx_bevy_operator_skip = { workspace = true, optional = true }
rx_bevy_operator_switch_map = { workspace = true, optional = true }
rx_bevy_operator_take = { workspace = true, optional = true }
rx_bevy_operator_tap = { workspace = true, optional = true }
rx_bevy_operator_try_capture = { workspace = true, optional = true }
# Subjects
rx_bevy_subject = { workspace = true, optional = true }
rx_bevy_subject_behavior = { workspace = true, optional = true }
rx_bevy_subject_replay = { workspace = true, optional = true }

[dev-dependencies]
rx_bevy_testing = { workspace = true }
