[package]
name = "rx_bevy"
version = "0.1.0"
description = "Reactive Extensions for the Bevy game engine"
readme = "readme.md"
publish = false

edition.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
authors.workspace = true
license-file.workspace = true

[lints]
workspace = true

[features]
default = [
    "bevy",
    "pipe",
    "compose",
    "all_observables",
    "all_observers",
    "all_operators",
    "all_subjects",
]
dev = [
    "rx_bevy_core/dev",
    "rx_bevy_ecs_observable_interval?/dev",
    "rx_bevy_ecs_observable_keyboard?/dev",
    "rx_bevy_ref_observable_combine_latest?/dev",
    "rx_bevy_ref_observable_connectable?/dev",
    "rx_bevy_observable_deferred?/dev",
    "rx_bevy_observable_iterator?/dev",
    "rx_bevy_ref_observable_merge?/dev",
    "rx_bevy_observable_of?/dev",
    "rx_bevy_observable_throw?/dev",
    "rx_bevy_ref_observable_zip?/dev",
    "rx_bevy_observer_fn?/dev",
    "rx_bevy_observer_noop?/dev",
    "rx_bevy_observer_print?/dev",
    "rx_bevy_operator_adsr?/dev",
    "rx_bevy_operator_composite?/dev",
    "rx_bevy_operator_enumerate?/dev",
    "rx_bevy_operator_filter?/dev",
    "rx_bevy_operator_filter_map?/dev",
    "rx_bevy_operator_finalize?/dev",
    "rx_bevy_operator_identity?/dev",
    "rx_bevy_operator_lift_option?/dev",
    "rx_bevy_operator_lift_result?/dev",
    "rx_bevy_operator_map?/dev",
    "rx_bevy_operator_map_into?/dev",
    "rx_bevy_operator_skip?/dev",
    "rx_bevy_operator_switch_map?/dev",
    "rx_bevy_operator_take?/dev",
    "rx_bevy_operator_tap?/dev",
    "rx_bevy_operator_try_capture?/dev",
    "rx_bevy_ref_pipe?/dev",
    "rx_bevy_ref_subject?/dev",
    "rx_bevy_ref_subject_behavior?/dev",
    "rx_bevy_ref_subject_replay?/dev",
    "rx_bevy_testing/dev",
]
example = [
    "dev",
    "rx_bevy_core/example",
    "rx_bevy_ecs_observable_interval?/example",
    "rx_bevy_ecs_observable_keyboard?/example",
    "rx_bevy_ref_observable_combine_latest?/example",
    "rx_bevy_ref_observable_connectable?/example",
    "rx_bevy_observable_deferred?/example",
    "rx_bevy_observable_iterator?/example",
    "rx_bevy_ref_observable_merge?/example",
    "rx_bevy_observable_of?/example",
    "rx_bevy_observable_throw?/example",
    "rx_bevy_ref_observable_zip?/example",
    "rx_bevy_observer_fn?/example",
    "rx_bevy_observer_noop?/example",
    "rx_bevy_observer_print?/example",
    "rx_bevy_operator_adsr?/example",
    "rx_bevy_operator_composite?/example",
    "rx_bevy_operator_enumerate?/example",
    "rx_bevy_operator_filter?/example",
    "rx_bevy_operator_filter_map?/example",
    "rx_bevy_operator_finalize?/example",
    "rx_bevy_operator_identity?/example",
    "rx_bevy_operator_lift_option?/example",
    "rx_bevy_operator_lift_result?/example",
    "rx_bevy_operator_map?/example",
    "rx_bevy_operator_map_into?/example",
    "rx_bevy_operator_skip?/example",
    "rx_bevy_operator_switch_map?/example",
    "rx_bevy_operator_take?/example",
    "rx_bevy_operator_tap?/example",
    "rx_bevy_operator_try_capture?/example",
    "rx_bevy_ref_pipe?/example",
    "rx_bevy_ref_subject?/example",
    "rx_bevy_ref_subject_behavior?/example",
    "rx_bevy_ref_subject_replay?/example",
    "rx_bevy_testing/example",
]
bevy = [
    "rx_bevy_core/bevy",
    "rx_bevy_ref_observable_connectable?/bevy",
    "rx_bevy_observable_deferred?/bevy",
    "rx_bevy_observable_iterator?/bevy",
    "rx_bevy_ref_observable_merge?/bevy",
    "rx_bevy_observable_of?/bevy",
    "rx_bevy_observable_throw?/bevy",
    "rx_bevy_ref_observable_zip?/bevy",
    "rx_bevy_observer_fn?/bevy",
    "rx_bevy_observer_noop?/bevy",
    "rx_bevy_observer_print?/bevy",
    "rx_bevy_operator_composite?/bevy",
    "rx_bevy_operator_enumerate?/bevy",
    "rx_bevy_operator_filter?/bevy",
    "rx_bevy_operator_filter_map?/bevy",
    "rx_bevy_operator_finalize?/bevy",
    "rx_bevy_operator_identity?/bevy",
    "rx_bevy_operator_lift_option?/bevy",
    "rx_bevy_operator_lift_result?/bevy",
    "rx_bevy_operator_map?/bevy",
    "rx_bevy_operator_map_into?/bevy",
    "rx_bevy_operator_skip?/bevy",
    "rx_bevy_operator_switch_map?/bevy",
    "rx_bevy_operator_take?/bevy",
    "rx_bevy_operator_tap?/bevy",
    "rx_bevy_operator_try_capture?/bevy",
    "rx_bevy_ref_pipe?/bevy",
    "rx_bevy_ref_subject?/bevy",
    "rx_bevy_ref_subject_behavior?/bevy",
    "rx_bevy_ref_subject_replay?/bevy",
    "rx_bevy_testing/bevy",
    "tick",
]
# All Bevy specific features, Components, Schedulers. If not enabled, bevy is not used as a dependency.
reflect = [
    "rx_bevy_core/reflect",
    "rx_bevy_ecs_observable_interval?/reflect",
    "rx_bevy_ecs_observable_keyboard?/reflect",
    "rx_bevy_ref_observable_combine_latest/reflect",
    "rx_bevy_ref_observable_connectable?/reflect",
    "rx_bevy_observable_deferred?/reflect",
    "rx_bevy_observable_iterator?/reflect",
    "rx_bevy_ref_observable_merge?/reflect",
    "rx_bevy_observable_of?/reflect",
    "rx_bevy_observable_throw?/reflect",
    "rx_bevy_ref_observable_zip?/reflect",
    "rx_bevy_observer_fn?/reflect",
    "rx_bevy_observer_noop?/reflect",
    "rx_bevy_observer_print?/reflect",
    "rx_bevy_operator_adsr?/reflect",
    "rx_bevy_operator_composite?/reflect",
    "rx_bevy_operator_enumerate?/reflect",
    "rx_bevy_operator_filter?/reflect",
    "rx_bevy_operator_filter_map?/reflect",
    "rx_bevy_operator_finalize?/reflect",
    "rx_bevy_operator_identity?/reflect",
    "rx_bevy_operator_lift_option?/reflect",
    "rx_bevy_operator_lift_result?/reflect",
    "rx_bevy_operator_map?/reflect",
    "rx_bevy_operator_map_into?/reflect",
    "rx_bevy_operator_skip?/reflect",
    "rx_bevy_operator_switch_map?/reflect",
    "rx_bevy_operator_take?/reflect",
    "rx_bevy_operator_tap?/reflect",
    "rx_bevy_operator_try_capture?/reflect",
    "rx_bevy_ref_pipe?/reflect",
    "rx_bevy_ref_subject?/reflect",
    "rx_bevy_ref_subject_behavior?/reflect",
    "rx_bevy_ref_subject_replay?/reflect",
    "rx_bevy_testing/reflect",
]
tick = [
    "rx_bevy_core/tick",
    "rx_bevy_ref_observable_combine_latest?/tick",
    "rx_bevy_ref_observable_connectable?/tick",
    "rx_bevy_observable_deferred?/tick",
    "rx_bevy_observable_iterator?/tick",
    "rx_bevy_ref_observable_merge?/tick",
    "rx_bevy_observable_of?/tick",
    "rx_bevy_observable_throw?/tick",
    "rx_bevy_ref_observable_zip?/tick",
    "rx_bevy_observer_fn?/tick",
    "rx_bevy_observer_noop?/tick",
    "rx_bevy_observer_print?/tick",
    "rx_bevy_operator_composite?/tick",
    "rx_bevy_operator_enumerate?/tick",
    "rx_bevy_operator_filter?/tick",
    "rx_bevy_operator_filter_map?/tick",
    "rx_bevy_operator_finalize?/tick",
    "rx_bevy_operator_identity?/tick",
    "rx_bevy_operator_lift_option?/tick",
    "rx_bevy_operator_lift_result?/tick",
    "rx_bevy_operator_map?/tick",
    "rx_bevy_operator_map_into?/tick",
    "rx_bevy_operator_skip?/tick",
    "rx_bevy_operator_switch_map?/tick",
    "rx_bevy_operator_take?/tick",
    "rx_bevy_operator_tap?/tick",
    "rx_bevy_operator_try_capture?/tick",
    "rx_bevy_ref_pipe?/tick",
    "rx_bevy_ref_subject?/tick",
    "rx_bevy_ref_subject_behavior?/tick",
    "rx_bevy_ref_subject_replay?/tick",
    "rx_bevy_testing/tick",
]
pipe = [
    "dep:rx_bevy_ref_pipe",
    "rx_bevy_operator_composite?/pipe",
    "rx_bevy_operator_enumerate?/pipe",
    "rx_bevy_operator_filter?/pipe",
    "rx_bevy_operator_filter_map?/pipe",
    "rx_bevy_operator_finalize?/pipe",
    "rx_bevy_operator_lift_option?/pipe",
    "rx_bevy_operator_lift_result?/pipe",
    "rx_bevy_operator_map?/pipe",
    "rx_bevy_operator_map_into?/pipe",
    "rx_bevy_operator_skip?/pipe",
    "rx_bevy_operator_switch_map?/pipe",
    "rx_bevy_operator_take?/pipe",
    "rx_bevy_operator_tap?/pipe",
    "rx_bevy_operator_try_capture?/pipe",
]
compose = [
    "dep:rx_bevy_operator_composite",
    "rx_bevy_operator_enumerate?/compose",
    "rx_bevy_operator_filter?/compose",
    "rx_bevy_operator_filter_map?/compose",
    "rx_bevy_operator_finalize?/compose",
    "rx_bevy_operator_lift_option?/compose",
    "rx_bevy_operator_lift_result?/compose",
    "rx_bevy_operator_map?/compose",
    "rx_bevy_operator_map_into?/compose",
    "rx_bevy_operator_skip?/compose",
    "rx_bevy_operator_switch_map?/compose",
    "rx_bevy_operator_take?/compose",
    "rx_bevy_operator_tap?/compose",
    "rx_bevy_operator_try_capture?/compose",
]
# Observables
all_observables = [
    "observable_combine_latest",
    "observable_connectable",
    "observable_deferred",
    "observable_iterator",
    "observable_merge",
    "observable_of",
    "observable_throw",
    "observable_zip",
]

observable_combine_latest = ["dep:rx_bevy_ref_observable_combine_latest"]
observable_connectable = ["dep:rx_bevy_ref_observable_connectable"]
observable_deferred = ["dep:rx_bevy_observable_deferred"]
observable_iterator = ["dep:rx_bevy_observable_iterator"]
observable_merge = ["dep:rx_bevy_ref_observable_merge"]
observable_of = ["dep:rx_bevy_observable_of"]
observable_throw = ["dep:rx_bevy_observable_throw"]
observable_zip = ["dep:rx_bevy_ref_observable_zip"]
# Observers
all_observers = ["observer_noop", "observer_print", "observer_fn"]
observer_fn = ["dep:rx_bevy_observer_fn"]
observer_noop = ["dep:rx_bevy_observer_noop"]
observer_print = ["dep:rx_bevy_observer_print"]
# Operators
all_operators = [
    "operator_adsr",
    "operator_composite",
    "operator_enumerate",
    "operator_filter",
    "operator_filter_map",
    "operator_finalize",
    "operator_lift_option",
    "operator_lift_result",
    "operator_map",
    "operator_map_into",
    "operator_identity",
    "operator_skip",
    "operator_switch_map",
    "operator_take",
    "operator_tap",
    "operator_try_capture",
]
operator_adsr = ["dep:rx_bevy_operator_adsr"]
operator_composite = ["dep:rx_bevy_operator_composite"]
operator_enumerate = ["dep:rx_bevy_operator_enumerate"]
operator_filter = ["dep:rx_bevy_operator_filter"]
operator_filter_map = ["dep:rx_bevy_operator_filter_map"]
operator_finalize = ["dep:rx_bevy_operator_finalize"]
operator_identity = ["dep:rx_bevy_operator_identity"]
operator_lift_option = ["dep:rx_bevy_operator_lift_option"]
operator_lift_result = ["dep:rx_bevy_operator_lift_result"]
operator_map = ["dep:rx_bevy_operator_map"]
operator_map_into = ["dep:rx_bevy_operator_map_into"]
operator_skip = ["dep:rx_bevy_operator_skip"]
operator_switch_map = ["dep:rx_bevy_operator_switch_map"]
operator_take = ["dep:rx_bevy_operator_take"]
operator_tap = ["dep:rx_bevy_operator_tap"]
operator_try_capture = ["dep:rx_bevy_operator_try_capture"]
# Subjects
all_subjects = ["subject", "subject_behavior", "subject_replay"]
subject = ["dep:rx_bevy_ref_subject"]
subject_behavior = ["dep:rx_bevy_ref_subject_behavior"]
subject_replay = ["dep:rx_bevy_ref_subject_replay"]

[dependencies]
rx_bevy_core = { workspace = true }
# Observables
rx_bevy_ecs_observable_interval = { workspace = true, optional = true }
rx_bevy_ecs_observable_keyboard = { workspace = true, optional = true }
rx_bevy_ref_observable_combine_latest = { workspace = true, optional = true }
rx_bevy_ref_observable_connectable = { workspace = true, optional = true }
rx_bevy_observable_deferred = { workspace = true, optional = true }
rx_bevy_observable_iterator = { workspace = true, optional = true }
rx_bevy_ref_observable_merge = { workspace = true, optional = true }
rx_bevy_observable_of = { workspace = true, optional = true }
rx_bevy_observable_throw = { workspace = true, optional = true }
rx_bevy_ref_observable_zip = { workspace = true, optional = true }
# Pipe
rx_bevy_ref_pipe = { workspace = true, optional = true }
# Observers
rx_bevy_observer_fn = { workspace = true, optional = true }
rx_bevy_observer_noop = { workspace = true, optional = true }
rx_bevy_observer_print = { workspace = true, optional = true }
# Operators
rx_bevy_operator_adsr = { workspace = true, optional = true }
rx_bevy_operator_composite = { workspace = true, optional = true }
rx_bevy_operator_enumerate = { workspace = true, optional = true }
rx_bevy_operator_filter = { workspace = true, optional = true }
rx_bevy_operator_filter_map = { workspace = true, optional = true }
rx_bevy_operator_finalize = { workspace = true, optional = true }
rx_bevy_operator_identity = { workspace = true, optional = true }
rx_bevy_operator_lift_option = { workspace = true, optional = true }
rx_bevy_operator_lift_result = { workspace = true, optional = true }
rx_bevy_operator_map = { workspace = true, optional = true }
rx_bevy_operator_map_into = { workspace = true, optional = true }
rx_bevy_operator_skip = { workspace = true, optional = true }
rx_bevy_operator_switch_map = { workspace = true, optional = true }
rx_bevy_operator_take = { workspace = true, optional = true }
rx_bevy_operator_tap = { workspace = true, optional = true }
rx_bevy_operator_try_capture = { workspace = true, optional = true }
# Subjects
rx_bevy_ref_subject = { workspace = true, optional = true }
rx_bevy_ref_subject_behavior = { workspace = true, optional = true }
rx_bevy_ref_subject_replay = { workspace = true, optional = true }

[dev-dependencies]
rx_bevy_testing = { workspace = true }
