[package]
name = "rx_bevy"
version = "0.1.0"
description = "Reactive Extensions for the Bevy game engine"
readme = "readme.md"
publish = false

edition.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
authors.workspace = true
license-file.workspace = true

[lints]
workspace = true

[features]
default = [
    "dev",
    "pipe",
    "all_observables",
    "all_observers",
    "all_operators",
    "all_subjects",
]
dev = []
example = ["dev"]
pipe = [
    "all_pipes",
    "rx_bevy_operator_tap/pipe",
    "rx_bevy_operator_map/pipe",
    "rx_bevy_operator_filter/pipe",
    "rx_bevy_operator_filter_map/pipe",
    "rx_bevy_operator_finalize/pipe",
    "rx_bevy_operator_identity/pipe",
    "rx_bevy_operator_switch_map/pipe",
]
# Observables and Subjects. Not sure if a good idea, so I'm keeping it behind a feature
inline_subscribe = [
    "rx_bevy_observable_of/inline_subscribe",
    "rx_bevy_observable_throw/inline_subscribe",
    "rx_bevy_subject/inline_subscribe",
    "rx_bevy_subject_behavior/inline_subscribe",
    "rx_bevy_subject_replay/inline_subscribe",
]

# Observables
all_observables = ["observable_of", "observable_throw"]
observable_of = ["dep:rx_bevy_observable_of"]
observable_throw = ["dep:rx_bevy_observable_throw"]
# Pipes
all_pipes = ["pipe_operator", "pipe_flat"]
pipe_operator = ["dep:rx_bevy_pipe_operator"]
pipe_flat = ["dep:rx_bevy_pipe_flat"]
# Observers
all_observers = [
    "observer_noop",
    "observer_print",
    "observer_fn",
    "observer_flat",
    "observer_shared",
]
observer_fn = ["dep:rx_bevy_observer_fn"]
observer_noop = ["dep:rx_bevy_observer_noop"]
observer_print = ["dep:rx_bevy_observer_print"]
observer_flat = ["dep:rx_bevy_observer_flat"]
observer_shared = ["dep:rx_bevy_observer_shared"]
# Operators
all_operators = [
    "operator_tap",
    "operator_map",
    "operator_filter",
    "operator_filter_map",
    "operator_finalize",
    "operator_identity",
    "operator_switch_map",
]
operator_tap = ["dep:rx_bevy_operator_tap"]
operator_map = ["dep:rx_bevy_operator_map"]
operator_filter = ["dep:rx_bevy_operator_filter"]
operator_filter_map = ["dep:rx_bevy_operator_filter_map"]
operator_finalize = ["dep:rx_bevy_operator_finalize"]
operator_identity = ["dep:rx_bevy_operator_identity"]
operator_switch_map = ["dep:rx_bevy_operator_switch_map"]
# Subjects
all_subjects = ["subject", "subject_behavior", "subject_replay"]
subject = ["dep:rx_bevy_subject"]
subject_behavior = ["dep:rx_bevy_subject_behavior"]
subject_replay = ["dep:rx_bevy_subject_replay"]

[dependencies]
rx_bevy_observable = { workspace = true }
# Observables
rx_bevy_observable_of = { workspace = true, optional = true }
rx_bevy_observable_throw = { workspace = true, optional = true }
# Pipes
rx_bevy_pipe_operator = { workspace = true, optional = true }
rx_bevy_pipe_flat = { workspace = true, optional = true }
# Observers
rx_bevy_observer_noop = { workspace = true, optional = true }
rx_bevy_observer_print = { workspace = true, optional = true }
rx_bevy_observer_fn = { workspace = true, optional = true }
rx_bevy_observer_shared = { workspace = true, optional = true }
rx_bevy_observer_flat = { workspace = true, optional = true }
# Operators
rx_bevy_operator_tap = { workspace = true, optional = true }
rx_bevy_operator_map = { workspace = true, optional = true }
rx_bevy_operator_filter = { workspace = true, optional = true }
rx_bevy_operator_filter_map = { workspace = true, optional = true }
rx_bevy_operator_finalize = { workspace = true, optional = true }
rx_bevy_operator_identity = { workspace = true, optional = true }
rx_bevy_operator_switch_map = { workspace = true, optional = true }
# Subjects
rx_bevy_subject = { workspace = true, optional = true }
rx_bevy_subject_behavior = { workspace = true, optional = true }
rx_bevy_subject_replay = { workspace = true, optional = true }

[dev-dependencies]
rx_bevy_testing = { workspace = true }
