[package]
name = "rx_bevy"
version = "0.1.0"
description = "Reactive Extensions for the Bevy game engine"
readme = "readme.md"
publish = false

edition.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
authors.workspace = true
license-file.workspace = true

[lints]
workspace = true

[features]
default = ["dev", "pipe", "all_observables", "all_observers", "all_operators"]
dev = []
example = ["dev"]
pipe = [
    "operator_pipe",
    "rx_bevy_operator_map/pipe",
    "rx_bevy_operator_filter/pipe",
    "rx_bevy_operator_tap/pipe",
]

# Observables
all_observables = ["observable_of"]
observable_of = ["dep:rx_bevy_observable_of"]
# Observers
all_observers = ["observer_noop", "observer_print", "observer_fn"]
observer_fn = ["dep:rx_bevy_observer_fn"]
observer_noop = ["dep:rx_bevy_observer_noop"]
observer_print = ["dep:rx_bevy_observer_print"]
# Operators
all_operators = [
    "operator_map",
    "operator_filter",
    "operator_pipe",
    "operator_tap",
]
operator_map = ["dep:rx_bevy_operator_map"]
operator_filter = ["dep:rx_bevy_operator_filter"]
operator_pipe = ["dep:rx_bevy_operator_pipe"]
operator_tap = ["dep:rx_bevy_operator_tap"]

[dependencies]
rx_bevy_observable = { workspace = true }
rx_bevy_operator = { workspace = true }
# Observables
rx_bevy_observable_of = { workspace = true, optional = true }
# Observers
rx_bevy_observer_noop = { workspace = true, optional = true }
rx_bevy_observer_print = { workspace = true, optional = true }
rx_bevy_observer_fn = { workspace = true, optional = true }
# Operators
rx_bevy_operator_map = { workspace = true, optional = true }
rx_bevy_operator_filter = { workspace = true, optional = true }
rx_bevy_operator_pipe = { workspace = true, optional = true }
rx_bevy_operator_tap = { workspace = true, optional = true }

[dev-dependencies]
rx_bevy_testing = { workspace = true }
