[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
edition = "2024"
homepage = "https://github.com/AlexAegis/rx_bevy"
repository = "https://github.com/AlexAegis/rx_bevy"
documentation = "https://github.com/AlexAegis/rx_bevy"
authors = ["alexaegis"]
license-file = "/license"
# Crates in this repository are private, for now
publish = false

[workspace.lints.clippy]
type_complexity = "allow"

# Enable a small amount of optimization and disable debug info for faster builds
[profile.dev]
opt-level = 1
incremental = true
debug = 0

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3

[profile.test]
incremental = true

[profile.release]
incremental = true
debug = 0

[workspace.dependencies]
bevy = { version = "0.16.1", default-features = false, features = [
    "multi_threaded",
    "bevy_core_pipeline",
    "bevy_asset",
    "bevy_winit",
    "bevy_window",
    "bevy_render",
    "png",
    "x11",
    "bevy_gilrs",
    "bevy_scene",
    "animation",
    "file_watcher",
    "bevy_gltf",
    "bevy_log",
] }
bevy_app = { version = "0.16.1", default-features = false }
bevy_derive = { version = "0.16.1", default-features = false }
bevy_ecs = { version = "0.16.1", default-features = false }
bevy_log = { version = "0.16.1", default-features = false }
bevy_reflect = { version = "0.16.1", default-features = false }
bevy_time = { version = "0.16.1", default-features = false }
bevy_math = { version = "0.16.1", default-features = false }
bevy_platform = { version = "0.16.1", default-features = false }
bevy_ptr = { version = "0.16.1", default-features = false }
bevy_input = { version = "0.16.1", default-features = false }
bevy-inspector-egui = { version = "0.31.0", default-features = false }
bevy_egui = { version = "0.34.1", features = ["immutable_ctx"] }
derive-where = { version = "1.4.0" }
bitflags = { version = "2.9.3" }
smallvec = { version = "1.15.1" }
slab = { version = "0.4.9" }
ringbuffer = { version = "0.16.0" }
serde = { version = "1.0.219" }
num-traits = { version = "0.2.19" }
variadics_please = { version = "1.1.0" }
either = { version = "1.15.0" }
thiserror = { version = "2.0.16" }
rand = { version = "0.9.2" }
short_type_name = { path = "crates/short_type_name" }
examples_common = { path = "crates/examples_common" }
feature_checker = { path = "crates/feature_checker" }
# Core
rx_bevy = { path = "crates/rx_bevy" }
rx_bevy_core = { path = "crates/rx_bevy_core" }
rx_bevy_emission_variants = { path = "crates/rx_bevy_emission_variants" }
rx_bevy_testing = { path = "crates/rx_bevy_testing" }
bevy_kit_erased_component_registry = { path = "crates/bevy_kit_erased_component_registry" }
# ECS Observables
rx_bevy_ecs_observable_iterator = { path = "crates/rx_bevy_ecs_observable_iterator" }
rx_bevy_ecs_observable_interval = { path = "crates/rx_bevy_ecs_observable_interval" }
rx_bevy_ecs_observable_keyboard = { path = "crates/rx_bevy_ecs_observable_keyboard" }
# Observables
rx_bevy_ref_observable_connectable = { path = "crates/rx_bevy_ref_observable_connectable" }
rx_bevy_ref_observable_combine_latest = { path = "crates/rx_bevy_ref_observable_combine_latest" }
rx_bevy_observable_deferred = { path = "crates/rx_bevy_observable_deferred" }
rx_bevy_observable_iterator = { path = "crates/rx_bevy_observable_iterator" }
rx_bevy_observable_of = { path = "crates/rx_bevy_observable_of" }
rx_bevy_ref_observable_merge = { path = "crates/rx_bevy_ref_observable_merge" }
rx_bevy_observable_throw = { path = "crates/rx_bevy_observable_throw" }
rx_bevy_ref_observable_zip = { path = "crates/rx_bevy_ref_observable_zip" }
# Pipes
rx_bevy_ref_pipe = { path = "crates/rx_bevy_ref_pipe" }
# Observers
rx_bevy_observer_fn = { path = "crates/rx_bevy_observer_fn" }
rx_bevy_observer_noop = { path = "crates/rx_bevy_observer_noop" }
rx_bevy_observer_print = { path = "crates/rx_bevy_observer_print" }
# Operators
rx_bevy_operator_composite = { path = "crates/rx_bevy_operator_composite" }
rx_bevy_operator_enumerate = { path = "crates/rx_bevy_operator_enumerate" }
rx_bevy_operator_filter = { path = "crates/rx_bevy_operator_filter" }
rx_bevy_operator_filter_map = { path = "crates/rx_bevy_operator_filter_map" }
rx_bevy_operator_finalize = { path = "crates/rx_bevy_operator_finalize" }
rx_bevy_operator_identity = { path = "crates/rx_bevy_operator_identity" }
rx_bevy_operator_lift_option = { path = "crates/rx_bevy_operator_lift_option" }
rx_bevy_operator_lift_result = { path = "crates/rx_bevy_operator_lift_result" }
rx_bevy_operator_map = { path = "crates/rx_bevy_operator_map" }
rx_bevy_operator_map_into = { path = "crates/rx_bevy_operator_map_into" }
rx_bevy_operator_skip = { path = "crates/rx_bevy_operator_skip" }
rx_bevy_operator_switch_map = { path = "crates/rx_bevy_operator_switch_map" }
rx_bevy_operator_take = { path = "crates/rx_bevy_operator_take" }
rx_bevy_operator_tap_next = { path = "crates/rx_bevy_operator_tap_next" }
rx_bevy_operator_try_capture = { path = "crates/rx_bevy_operator_try_capture" }
rx_bevy_operator_adsr = { path = "crates/rx_bevy_operator_adsr" }
# Reference Subscribers
rx_bevy_ref_subscriber_rc = { path = "crates/rx_bevy_ref_subscriber_rc" }
rx_bevy_ref_subscriber_switch = { path = "crates/rx_bevy_ref_subscriber_switch" }
# Subscribers
rx_bevy_subscriber_entity = { path = "crates/rx_bevy_subscriber_entity" }
# Subscriptions
rx_bevy_subscription_drop = { path = "crates/rx_bevy_subscription_drop" }
rx_bevy_subscription_entity = { path = "crates/rx_bevy_subscription_entity" }
rx_bevy_subscription_inert = { path = "crates/rx_bevy_subscription_inert" }
# Subjects
rx_bevy_ref_subject = { path = "crates/rx_bevy_ref_subject" }
rx_bevy_ref_subject_behavior = { path = "crates/rx_bevy_ref_subject_behavior" }
rx_bevy_ref_subject_replay = { path = "crates/rx_bevy_ref_subject_replay" }
# Bevy
rx_bevy_plugin = { path = "crates/rx_bevy_plugin" }
