[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
edition = "2024"
homepage = "https://github.com/AlexAegis/bevy_envelope_action"
repository = "https://github.com/AlexAegis/bevy_envelope_action"
documentation = "https://github.com/AlexAegis/bevy_envelope_action"
authors = ["alexaegis"]
license-file = "/license"
# Crates in this repository are private, for now
publish = false

[workspace.lints.clippy]
type_complexity = "allow"

# Enable a small amount of optimization and disable debug info for faster builds
[profile.dev]
opt-level = 1
incremental = true
debug = 0

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3

[profile.test]
incremental = true

[profile.release]
incremental = true
debug = 0

[workspace.dependencies]
bevy = { version = "0.16", default-features = false, features = [
    "multi_threaded",
    "bevy_core_pipeline",
    "bevy_asset",
    "bevy_winit",
    "bevy_window",
    "bevy_render",
    "png",
    "x11",
    "bevy_gilrs",
    "bevy_scene",
    "animation",
    "file_watcher",
    "bevy_gltf",
    "bevy_log",
] }
bevy-inspector-egui = { version = "0.31.0", default-features = false }
bevy_egui = { version = "0.34.1", features = ["immutable_ctx"] }
derive-where = { version = "1.2.7" }
bitflags = { version = "2.9.1" }
smallvec = { version = "1.15.0" }
serde = { version = "1.0.219" }
num-traits = { version = "0.2.19" }
bevy_kit_action = { path = "crates/bevy_kit_action" }
examples_common = { path = "crates/examples_common" }
