[package]
name = "rx_core_notification_store"
description = "Stateful notification stores for rx_core"
version = "0.1.0"
readme = "readme.md"
publish = true

edition.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
authors.workspace = true
license.workspace = true
keywords = ["rx", "reactivex", "rx_core"]

[lints]
workspace = true

[features]
default = []

[dependencies]
rx_core_common = { version = "0.1.0", path = "../rx_core_common" }
derive-where = { workspace = true }
