[package]
name = "stealcell"
version = "0.1.0"
description = "An Option like cell where the value can be temporarily stolen."
readme = "readme.md"
publish = true

edition.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
authors.workspace = true
license.workspace = true

[lints]
workspace = true

[features]
default = []
dev = []
example = ["dev"]

[dependencies]
