[package]
name = "rx_core_macro_operator_derive"
description = "rx_core operator derive, implements associated type only traits"
version = "0.2.0"
readme = "readme.md"
publish = true

edition.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
authors.workspace = true
license.workspace = true
keywords = ["rx", "rx_core"]

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies]
quote = { workspace = true }
syn = { workspace = true }
rx_core_macro_common = { workspace = true }
